@import "tailwindcss";

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #932F67;
}

::-webkit-scrollbar-track {
    background-color: rgb(202, 202, 202);
}

@theme {
    --color-primary: #D92C54;
    --color-secondary: #DDDEAB;
    --color-dark: #932F67;
    --color-light: #d14393;
    --color-lime: #8ABB6C;

    --font-AlbertSans: "Albert-Sans";
    --font-Allura: 'Allura';
    --font-Alkatra: 'Alkatra';
}

@font-face {
    font-family: Albert-Sans;
    src: url('./assets/fonts/AlbertSans-Regular.ttf');
}

@font-face {
    font-family: Allura;
    src: url('./assets/fonts/Allura-Regular.ttf');
}

@font-face {
    font-family: Alkatra;
    src: url('./assets/fonts/Alkatra-Regular.ttf');
}
